@import "../shared/mixin.scss";
@import "../shared/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #afafaf;
}

.container {
  width: 100vw;
  background-color: $bg-color;
  @include computer {
    max-width: 120rem;
    margin: 0 auto;
  }
}
