@import "../shared/mixin.scss";
@import "../shared/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #afafaf;
}

.products {
  h4 {
    padding: 2rem 0;
    border-bottom: 1px solid $default-line-color;
    font-size: 2rem;
  }
  .product-list {
    .product {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      &__image {
        margin-right: 1rem;
      }
      &__detail {
        h3 {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include computer {
  .products {
    &:first-child {
      padding-right: 1rem;
    }
    &:last-child {
      padding-left: 1rem;
    }
    .product-list {
      .product {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        &__image {
          margin-right: 1rem;
        }
        &__detail {
          h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
          }
          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.input-readonly{
  border:none;
}