@mixin header {
  .header {
    width: 100%;
    font-size: 1.2rem;
    &__top {
      display: none;
      &__menu {
        display: flex;
        flex-direction: row;
      }
    }

    &__inner {
      .group-flex {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
      }
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      font-size: 2rem;
      text-align: center;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__search {
      flex: 3;
      &__input {
        width: 100%;
        border: 0.1rem solid #afafaf;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem;
      }
    }

    &__user {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .menu {
      display: none;
      position: absolute;
      justify-content: flex-end;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;

      &__inner {
        background-color: white;
        height: 100%;
        width: 70vw;
        @keyframes slidein {
          from {
            width: 0;
          }
          to {
            width: 70vw;
          }
        }
        animation-duration: 0.5s;
        animation-name: slidein;

        &__x-btn {
          display: inline-block;
          padding: 1rem;
          font-size: 2rem;
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 5rem;
          &__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 8rem;
            font-size: 2rem;
          }

          &__login {
            display: flex;
            align-items: center;
            width: 100%;
            .login__item {
              width: 50%;
              padding: 0 0.5rem;
              &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                border-radius: 0.3rem;
              }

              &--google {
                border: 1px solid #afafaf;
                color: #737373;
                font-weight: 600;
              }
              &--fb {
                background-color: #507cc0;
                color: #fff;
                font-weight: 600;
              }
            }
          }

          &__img {
            display: none;
          }

          &__text {
            display: block;
          }
        }
      }
      &--show {
        display: flex;
      }
    }

    &__bottom {
      display: none;
    }

    @include computer {
      height: auto;
      &__top-wrapper {
        border-bottom: 1.5px solid $default-line-color;
      }
      &__top {
        width: $md-width;
        margin: 0 auto;
        padding: 0.5rem 0;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        &__menu {
          &__item {
            margin: 0.5rem 1rem;
          }
        }
      }

      &__inner {
        height: auto;
        display: block;
        width: $md-width;
        margin: 0 auto;
      }

      .group-flex {
        display: flex;
        width: $md-width;
        height: 100%;
        align-items: center;
        margin: 0 auto;
        padding: 3rem 0;
      }

      &__logo {
        justify-content: normal;
        font-size: 3rem;
      }

      &__user {
        img {
          display: none;
        }
        .menu {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          &__inner {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            width: auto;

            animation: none;

            &__item {
              margin: 0 1rem;
              &__img {
                display: block;
                height: 3rem;
              }
              &__text {
                display: none;
              }
            }

            &__item--mobile {
              display: none;
            }
            &__x-btn {
              display: none;
            }
          }
        }
      }

      &__bottom {
        display: block;
        &__wrapper {
          width: $md-width;
          margin: 0 auto;
        }

        &__menu {
          background-color: $menu-bg-color;
          display: flex;
          padding: 0 2rem;
          div {
            margin: 0 1rem;
            padding: 1.8rem 0;
            a {
              color: white;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
