@import "../shared/mixin.scss";

.container{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  .login-content{
    width: 100%;
    padding:0 5rem;
    .logo{
      display:flex;
      justify-content: center;
      align-items: center;
      height:5rem;
    }
    .oauth{
      a{
        text-decoration: none;
      }
      &__btn{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 1rem 0;
        height:5rem;
        border-radius: 0.5rem;
        &--google{
          border: 1px solid #afafaf;
          color: #737373;
          font-weight: 600;
        }
        &--fb{
          background-color: #507CC0;
          color:#fff;
          font-weight: 600;
        }
      }
    }
  }

  @include computer{
    .login-content{
      max-width: 60rem;
    }
  }
}
